{% extends 'users/base.html' %}
{%load widget_tweaks%}

{% block content %}

<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
    {% csrf_token %}
    <div class="form-floating mb-3">
        {%  render_field form.email class="form-control"%}
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
        {%  render_field form.password1 class="form-control"%}
        <label for="floatingInput">enter password</label>
    </div>
    <div class="form-floating mb-3">
        {%  render_field form.password2 class="form-control"%}
        <label for="floatingInput">confirm password</label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign In</button>
    <hr class="my-4">
    <!-- <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small> -->
    <small class="text-muted">Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
         </form>
         <div class="mt-4">
            <small class="text-muted">Or connect with:</small><br>
            
            <a target="_blank" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btn btn-primary">
              <i class="fab fa-facebook"></i> Facebook
            </a>
            
            <a target="_blank" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-danger">
              <i class="fab fa-google"></i> Google
            </a>
        
            <a target="_blank" href="{% url 'social:begin' 'github' %}?next={{ request.path }}" class="btn btn-secondary">
                <i class="fab fa-github"></i> GitHub
              </a>
          </div>
        

{% endblock content %}